html {
  font-family: arial;
}

body {
  background-color: #f5a267;
}

footer {
  background-color: #dddddd;
  position: absolute;
  margin-left: -1%;
  padding: 10px;
  width: 100%;
  bottom: 0;
}

nav {
  margin-bottom: 20px;
}

.title-header {
  font-size: 200%;
}

.current-project  {
  background: #15e6bc;
  display: flex;
  justify-content: space-around;
}

.right-wrapper {
  padding: 1%;
}

.project-title {
  font-size: 140%;
}

.current-image {
  width: 30%;
  height: 30%;
}

.nav-but {
  border: 1px solid #ffffff;
  background-color: #c5ed26;
  font-size: 100%;
  padding: 0.5%;
}

.person-name, .programming-title, .music-title, .art-title, .climate-title {
  padding: 5px;
  font-size: 225%;
}

.person-name {
  background-color: #16e268;
}

.programming-title {
  background-color: #16e268;
}

.music-title {
  background-color: #16e268;
}

.art-title {
  background-color: #16e268;
}

.climate-title {
  background-color: #16e268;
}

.person-description {
  background-color: #0cfc6d;
  margin-top: 5px;
  padding: 5px;
}
